<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME DJANGO</title>
</head>
<body>
    <h1>Receitas Django By {{ name }}</h1> <!--Variavel configurada no views-->
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum vitae, ut cumque facilis quae, quaerat pariatur ipsam quo dolorum, suscipit impedit quisquam ex ipsa nemo alias distinctio vel! Tenetur, magni?</p>
</body>
</html>